html(lang='es')
  block variables
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=.9')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= title
    meta(name='description', content=description)
    meta(name='HandheldFriendly', content='true')
    meta(name='MobileOptimized', content='320')
    meta(name='application-name', content='Braun Marketing and Consulting')
    meta(name='theme-color', content='#294F6C')
    meta(name='msapplication-TileColor', content='#294F6C')
    meta(name='msapplication-TileImage', content='/img/logo.svg')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='default')
    meta(name='google-site-verification', content='K5XTAYnh13eUvYVT8jvbWpnk0Gnr0nOvQYuMhA9aX3c')
    link(rel='apple-touch-startup-image', href='/img/logo.svg')
    link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='icon', type='image/png', href='/img/logo.png')
    link(rel='apple-touch-icon', href='/img/logo.svg')
    link(rel='author', type='text/plain', href='/humans.txt')
    link(rel='sitemap', type='application/xml', title='Sitemap', href='/sitemap.xml')
    link(rel='stylesheet', href='/css/styles.css')
    // Google Tag Manager 
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KWWRPVM');
    // End Google Tag Manager 
  body(cz-shortcut-listen='true')
    // Google Tag Manager (noscript) 
    noscript: iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KWWRPVM', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript) 
    script(type="application/ld+json").
      {  
        "@context": "http://schema.org",
        "@type":"WebSite",
        "@id":"#website",
        "url": #{baseURL}",
        "name": "Braun Marketing & Consulting",
        "alternateName": "Braun Marketing Consulting SL"
      }
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "#{baseURL}",
        "logo": "#{baseURL}img/logo.png",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "@id": "#CustomerService",
            "contactType": "Customer Service",
            "telephone": "+34 #{phone}",
            "email": "contacto@braunmarketingandconsulting.es"
          }
        ],
        "description": "Agencia de Marketing Online y Consultoría especializada en el sector sanitario. SEO, SEM, redes sociales, blog, diseño web, estudio de Mercado, estrategia online y pubilicidad son nuestros servicios. Si necesitas una Agencia de Marketing online de confianza nosotros somos lo que buscas",
        "sameAs": [
          "#{facebook}",
          "#{twitter}",
          "#{googleplus}",
          "#{youtube}",
          "#{linkedin}"
        ]
      }
    if (active.category)
      script(type="application/ld+json")
        |  {
        |    "@context": "http://schema.org",
        |    "@type": "BreadcrumbList",
        |    "itemListElement": [
        |      {
        |        "@type": "ListItem",
        |        "position": 1,
        |        "item": {
        |          "@id": "#{baseURL}#{menu.categories[active.category].slug}",
        |          "name": "#{active.category}"
        |        }
        |      }
        if (active.service)
          |      ,
          |      {
          |        "@type": "ListItem",
          |        "position": 2,
          |        "item": {
          |          "@id": "#{baseURL}#{menu.categories[active.category].slug}/#{menu.categories[active.category].services[active.service].slug}",
          |          "name": "#{active.service}"
          |        }
          |      }
        |    ]
        |  }

    block body
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.js')
    // build:js /js/script.js 
    script(src='/js/forms.js')
    script(src='/js/map.js')
    script(src='/js/mobile-menu.js')
    script(src='/js/sticky.js')
    script(src='/js/faq.js')
    // endbuild 
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtxc2up_ZAi8C95WWzzc8RE72wB5tnF9w&callback=loadMap', async, defer)