section.hero.is-primary
    .hero-body.has-text-centered
        .container
            .card-group#nosotros
                .card.is-3.column
                    .card-block
                        h2.title ¿Necesitas ayuda?
                        h3.subtitle Nuestro equipo de consultores te asesorará GRATIS y sin compromiso
                    footer.card-footer.columns.is-mobile
                        .column
                            p
                                a(href="tel:+34 " + phone, data-balloon="666 52 36 68", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded.phone
                                    span.icon
                                        i.fa.fa-phone
                        .column
                            p
                                a(href="mailto:" + mail, data-balloon="contacto@braunmarketingandconsulting.es", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded.mail
                                    span.icon
                                        i.fa.fa-envelope
                .card.is-3.column
                    .card-block
                        h2.title Nuestro blog
                        h3.subtitle de Marketing Online y Consultoría especializada en el sector sanitario
                    footer.card-footer.columns.is-mobile
                        .column
                            p
                                a(href="https://blog.braunmarketingandconsulting.es" data-balloon="Nuestro Blog", data-balloon-pos="down").button.is-large.is-primary.is-inverted.is-rounded.blog
                                    span.icon
                                        i.fa.fa-wordpress
                .card.is-6.column
                    .card-block
                        h2.title Síguenos en las redes
                        h3.subtitle Compartimos consejos e información útil para tu negocio
                    footer.card-footer.columns.is-mobile
                        .column
                            p
                                a(href=facebook, data-balloon="Facebook", data-balloon-pos="down", target="_blank").button.is-large.is-primary.is-inverted.is-rounded.facebook
                                    span.icon
                                        i.fa.fa-facebook
                        .column
                            p
                                a(href=twitter, data-balloon="Twitter", data-balloon-pos="down", target="_blank").button.is-large.is-primary.is-inverted.is-rounded.twitter
                                    span.icon
                                        i.fa.fa-twitter
                        .column
                            p
                                a(href=instagram, data-balloon="Instagram", data-balloon-pos="down", target="_blank").button.is-large.is-primary.is-inverted.is-rounded.instagram
                                    span.icon
                                        i.fa.fa-instagram
                        .column
                            p
                                a(href=googleplus, data-balloon="Google+", data-balloon-pos="down", target="_blank").button.is-large.is-primary.is-inverted.is-rounded.googleplus
                                    span.icon
                                        i.fa.fa-google-plus
                        .column
                            p
                                a(href=linkedin, data-balloon="Linkedin", data-balloon-pos="down", target="_blank").button.is-large.is-primary.is-inverted.is-rounded.linkedin
                                    span.icon
                                        i.fa.fa-linkedin